<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Uma missão de todos nós!</h2>
                <hr class="light">
                <p class="text-faded">O MIM é um movimento autônomo, laico, de caráter científico e cultural, que visa pesquisar, integrar e promover as várias formas de expressão da cultura de imigração e refúgio e encorajar o reconhecimento de sua presença na sociedade brasileira. Formado por imigrantes, refugiados e brasileiros que acreditam na possibilidade de viver em uma sociedade mais justa e inclusiva, o MIM entende que a troca de experiências entre indivíduos é uma importante ferramenta de transformação da sociedade.</p>
                <a href="#" class="btn btn-default btn-xl">Saiba Mais!</a>
            </div>
        </div>
    </div>
</section>

