<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    <%= t 'uma_missao_de_todos_nos' %>
                </h2>
                <hr class="light">
                <p class="text-faded">
                    <%= t 'o_mim_movimento_autonomo_etc' %>
                </p>
                <a href="#" class="btn btn-default btn-xl">
                    <%= t 'know_more_about_us' %>
                </a>
            </div>
        </div>
    </div>
</section>

