<aside class="bg-dark" id="donation">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>
                <%= t "call_to_action" %>
            </h2>
            <hr>

            <div class="col-md-12">
                <h3>PagSeguro</h3>
                <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                	<input type="hidden" name="currency" value="BRL" />
                	<input type="hidden" name="receiverEmail" value="kamandachristo@gmail.com" />
                	<input type="hidden" name="iot" value="button" />
                	<input src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/209x48-doar-assina.gif" 
                	    name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" 
                	    type="image" />
                </form>
            </div>
        </div>
    </div>
</aside>

