<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Você também pode apoiar a Missão Imigrante!</h2>
            <hr>
            <!--<div class="col-md-4">-->
            <!--    <a href="mailto:missao.imigrante@gmail.com" class="btn btn-default btn-xl wow tada">Doe Agora!</a>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
            <!--    <a href="mailto:missao.imigrante@gmail.com" class="btn btn-default btn-xl wow tada">Doe Agora!</a>-->
            <!--</div>-->
            <div class="col-md-12">
                <h3>Depósito Bancário</h3>
                <p>Banco do Brasil<br>
                Conta Corrente 29854-9<br>
                Agência 2809-6<br>
                CPF 237.932.268-67<br>
                Christ Wa T. Kamanda</p>
            </div>
        </div>
    </div>
</aside>

