<footer class="bg-primary">
    <div class="container">
        <div class="row" align="right">
            <div class="col-md-12" style="margin:20px 0 20px 0;">
                <a href="/fr" style="color:white;">Français</a> | <a href="/pt" style="color:white;">Português</a>
            </div>
        </div>
    </div>
</footer>

