<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Missão Imigrante</h1>
            <hr>
            <p>MIM - Missão Imigrante tem como propostas de atuação o protagonismo dos imigrantes e refugiados através da valorização das produções científicas e culturais.
            Uma iniciativa de acolhimento, apoio, articulação e promoção de encontros entre culturas!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba Mais!</a>
        </div>
    </div>
</header>

